html {
  background:#EFEFEF ;
}


/* formatando o cabeçalho dos formulários */
h1 {

  font-size: 48px;
  color: #ffffff;
  text-shadow: 0.1em 0.1em 0.2em black;
  padding: 10px 0;
  font-family: Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  padding-bottom: 30px;
}
h1:after {
  content: " ";
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 10px;


}

p {
  margin-bottom: 15px;
  color: #ffffff;
}
p:first-child {
  margin: 0px;
}
label {
  color: #ffffff;
  position: relative;
  text-shadow: 0.1em 0.1em 0.2em black;
}

.style-bt {
  border-color: #d8db34;
  box-shadow: 0 0 40px 40px #effa00 inset;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  border-radius: 5px;
  font-weight: bold;

}
.style-bt:hover {
  box-shadow: 0 0 2px 0 #ffffff inset, 0 0 10px 1px #ffffff;
  background: #effa00;
}
.style-cancelar {
  font-size: 1rem;
  border-radius: 5px;
  border-color: #a90f33;
  box-shadow: 0 0 40px 40px #a90f33 inset;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  border-radius: 5px;
  font-weight: bold;
}
.style-cancelar:hover {
  box-shadow: 0 0 2px 0 #ffffff inset, 0 0 10px 1px #ffffff;
  background: #a90f33;
}

#cadastro {
  position: absolute;
  top: 30px;
  width: 65%;
  padding: 18px 6% 60px 6%;
  margin: 0 0 35px 0;
  background-color: #5919956e;

  border-radius: 16px;

  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: both;

  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}
