<div class="container-fluid">
  <div class="row justify-content-center">


    <!--Formulario-->
    <div id= "cadastro">

      <h1>CADASTRE O PACIENTE</h1>

      <div class="form-group">
        <label for="nome">Prontuario</label>
        <input class="form-control" type="text" name="nome" id="nome"
        placeholder="Prontuario">
      </div>

      <div class="form-group">
        <div class="row"></div><label for="nome">Nome</label>
        <input class="form-control" type="text" name="nome" id="nome"
        placeholder="Nome do paciente">

      </div>

      <div class="form-group">
        <label for="nome">Sobrenome</label>
        <input class="form-control" type="text" name="nome" id="nome"
        placeholder="Sobrenome">
      </div>
      <div class="form-group">
        <label for="nome">Data de Nasc.:</label>
        <input class="form-control" type="text" name="nome" id="nome"
        placeholder="(   /  /   )">
      </div>


      <div class="form-group">
        <label for="tipo">Gênero</label>
        <select class="form-control" name="tipo" id="tipo">
          <option>Gênero:</option>
          <option value="feminino">Feminino</option>
          <option value="masculino">Masculino</option>
          <option value="outro">Outro</option>
        </select>
      </div>

      <div class="form-group">
        <label for="nome">RG</label>
        <input class="form-control" type="text" name="nome" id="nome"
        placeholder="">
      </div>
      <div class="form-group">
        <label for="nome"> UF do RG</label>
        <input class="form-control" type="text" name="uf" id="uf"
        placeholder="">
      </div>
      <div class="form-group">
        <label for="nome">Email</label>
        <input class="form-control" type="email" name="email" id="email"
        placeholder="nome@123.com">
      </div>
      <div class="form-group">
        <label for="nome"> Celular</label>
        <input class="form-control" type="text" name="uf" id="uf"
        placeholder="11 000000000">
      </div>
      <div class="form-group">
        <label for="nome"> Telefone fixo</label>
        <input class="form-control" type="text" name="uf" id="uf"
        placeholder="11 000000000">
      </div>
      <div class="form-group">
        <label for="tipo">Convênio</label>
        <select class="form-control" name="tipo" id="tipo">
          <option>Convênio</option>
          <option value="feminino">.</option>
        </select>
      </div>

      <div class="form-group">
        <label for="nome"> Carteirinha do Convênio</label>
        <input class="form-control" type="text" name="uf" id="uf"
        >
      </div>

      <div class="form-group">
        <label for="nome">Validade da Carteirinha</label>
        <input class="form-control" type="text" name="nome" id="nome"
        >
      </div>


      <div class="d-flex justify-content-center">
        <button type="submit" class="btn style-cancelar mr-3">Cancelar</button>
        <button class="btn style-bt mr-4">Cadastrar</button>
      </div>

    </div>



  </div>
</div>
