<div class="container-fluid">
  <div class="row justify-content-center">


    <!--Formulario-->
    <div id= "cadastro">

      <h1>CADASTRE O PACIENTE</h1>

      <div class="form-group">
        <label for="nome">Prontuario</label>
        <input class="form-control" type="text" name="prontuario" id="prontuario"
        placeholder="Prontuario">
      </div>

      <div class="form-group">
        <div class="row"></div><label for="nome">Nome</label>
        <input [(ngModel)]='paciente.NOME' class="form-control" type="text" name="nome" id="nome"
        placeholder="Nome do paciente" >

      </div>

      <div class="form-group">
        <label for="sobrenome">Sobrenome</label>
        <input [(ngModel)]='paciente.SOBRENOME' class="form-control" type="text" name="sobrenome" id="sobrenome"
        placeholder="Sobrenome">
      </div>

      <div class="form-group">
        <label for="nascimento">Data de Nasc.:</label>
        <input [(ngModel)]='paciente.DATANASCIMENTO' class="form-control" type="text" name="nascimento" id="nascimento"
        placeholder="(   /  /   )">
      </div>

      <div class="form-group">
        <label for="genero">Gênero</label>
        <select class="form-control" name="genero" id="genero"> (change)='genero($event)'
          <option>Gênero:</option>
          <option value="feminino">Feminino</option>
          <option value="masculino">Masculino</option>
          <option value="outro">Outro</option>
        </select>
      </div>

      <div class="form-group">
        <label for="cpf">CPF</label>
        <input [(ngModel)]='paciente.CPF' class="form-control" type="text" name="cpf" id="cpf"
        placeholder="">
      </div>

      <div class="form-group">
        <label for="rg">RG</label>
        <input [(ngModel)]='paciente.RG' class="form-control" type="text" name="rg" id="rg"
        placeholder="">
      </div>

      <div class="form-group">
        <label for="uf"> UF do RG</label>
        <input [(ngModel)]='paciente.uf' class="form-control" type="text" name="uf" id="uf"
        placeholder="">
      </div>

      <div class="form-group">
        <label for="nome">Email</label>
        <input [(ngModel)]='paciente.EMAIL' class="form-control" type="email" name="email" id="email"
        placeholder="nome@123.com">
      </div>

      <div class="form-group">
        <label for="celular"> Celular</label>
        <input [(ngModel)]='paciente.CELULAR' class="form-control" type="text" name="celular" id="celular"
        placeholder="11 000000000">
      </div>

      <div class="form-group">
        <label for="telefone"> Telefone fixo</label>
        <input [(ngModel)]='paciente.TELEFONE' class="form-control" type="text" name="telefone" id="telefone"
        placeholder="11 000000000">
      </div>

      <div class="form-group">
        <label for="convenio">Convênio</label>
        <select class="form-control" name="tipo" id="tipo">
          <option>Convênio</option>
          <option value="feminino">.</option>
        </select>
      </div>

      <div class="form-group">
        <label for="nome"> Carteirinha do Convênio</label>
        <input [(ngModel)]='paciente.CARTEIRINHA' class="form-control" type="text" name="uf" id="uf"
        >
      </div>

      <div class="form-group">
        <label for="nome">Validade da Carteirinha</label>
        <input [(ngModel)]='paciente.VALIDADECARTEIRINHA' class="form-control" type="text" name="nome" id="nome"
        >
      </div>

      <div class="form-group">
        <label for="nome">Cliente está ativo?</label>
        <input [(ngModel)]='paciente.ATIVO' class="form-control" type="text" name="nome" id="nome"
        >
      </div>


      <div class="d-flex justify-content-center">
        <button type="submit" class="btn style-cancelar mr-3"(click)="cadastrar()">Cancelar</button>
        <button class="btn style-bt mr-4">Cadastrar</button>
      </div>

    </div>





  </div>
</div>
